@(url: String, blogPosts: Seq[(BlogPost, User)])
@body(url, "Blog - " + SitePrefs.name, SitePrefs.description, SitePrefs.keywords) {
<div class="dy7-main-container dy7-blog">
  <h1>Blog</h1>
  @blogPosts.map { case (post, author) =>
  	@post.style match {
      case "blogpost" => {
        @list.blogpost(post, author)
      }
      case "micropost" => {
        @list.micropost(post, author)
      }
      case "quotation" => {
        @list.quotation(post, author)
      }
      case _ => {
        @list.blogpost(post, author)
      }
    }
  }
</div>
}
