@(url: String, post: BlogPost, author: User)
@body(url, post.title, post.description, post.keywords) {
<div class="dy7-main-container dy7-ext-blog dy7-ext-post">
  <article>
    <header class="dy7-blog-header">
	    <h1 class="dy7-blog-title">@post.title</h1>
	    <time datetime="@post.published.format("yyyy-MM-dd")">@post.published.format("MMMM dd, yyyy")</time>
    </header>
@Html(post.content)

    <div id="disqus_thread" class="dy-disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'distantlyyours';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </article>
    </div>
}
