/* Default HTML Elements ------------------ */

html { overflow-x: hidden; }
body, html {
  height: 100%;
}
/*header*/.dy7-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}
/*div*/.dy7-nav1-wrap {
  width: 550px;
  margin: 0 auto;
}
/*main*/.dy7-main {
  min-height: 100%;
  margin: 0 0 -40px 0;
}
/*div*/.dy7-main-container {
  margin: 0 auto;
  padding: 160px 0 0 0;
  width: 550px;
}

/* Blog body --------------------------------- */
/*body*/.dy7-blog-body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 50%;
  margin-right: 340px;
  width: 64px;
  background-color: #00badb;
  opacity: .4;
  z-index: 10;
}

/* Blog post --------------------------------- */
/*div*/.dy7-main-container.dy7-blog {
  width: auto;
  margin: inherit 0;
}
/*header*/.dy7-blog-header {
  position: relative;
}
/*h1*/.dy7-blog-title {
  font-size: 30px;
  margin: 0;
}
/*h1*/.dy7-blog-header:before {
  background: url('/assets/images/dy7-heading-stripes.png');
  content: "";
  display: block;
  position: absolute;
  left: -45px;
  top: 0;
  bottom: 0;
  width: 30px;
}
.dy7-blog-class {
  display: block;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
/*div*/.dy7-main-container.dy7-blog > article > header {
  @extend .dy7-blog-class;
}
/*div*/.dy7-main-container.dy7-blog > article > h2 {
  @extend .dy7-blog-class;
  position: relative;
}
/*div*/.dy7-main-container.dy7-blog > article > h2:before {
  background-color: rgba(0,186,219,0.5);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  margin-left: 15px;
  width: 500%;
}
/*div*/.dy7-main-container.dy7-blog > article > h2:after {
  background-color: rgba(0,186,219,0.5);
  border-right: 30px solid #c0c0c0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  right: 100%;
  margin-right: 15px;
  width: 500%;
}
/*div*/.dy7-main-container.dy7-blog > article > time {
  @extend .dy7-blog-class;
}
/*div*/.dy7-main-container.dy7-blog > article > p {
  @extend .dy7-blog-class;
}
/*footer*/.dy7-footer {
  margin: 0 auto;
  width: 550px;
}