/* Utility classes */
.dy7-desktop() {
    display: none;
}
.dy7-clearfix:before,
.dy7-clearfix:after {
  content: "";
  display: table;
  width: 100%;
}


/* Default HTML elements */
* {
    box-sizing: border-box;
}
html {
  font-size: 1em;
}
body {
  background: #fff;
  font-family: Roboto, sans-serif;
  margin: 0;
  color: @gray;
}
a {
  color: @electricBlue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @font-heading;
  font-weight: normal;
  color: @electricBlue;
}
h1 {
  font-size: 2em;
}
.dy7-skiplinks {
    .dy7-accessible-hide();
}

@import 'layout/_header.less';

/*main*/.dy7-main {
  display: block;
  padding-top: 160px;
}
/*div*/.dy7-main-container {
}

@import 'layout/_blog';
@import 'layout/_home';
@import 'layout/_footer';
@import 'layout/_portfolio';

@media screen and (min-resolution: 190dppx) {
  /*a*/.dy7-top-logo {
    background: url('@{img-server}/header-image@2x.png') no-repeat 0 0;
    background-size: 315px 53px;
  }
}

