@import '_vars-mixins';



/* Utility classes */
.dy7-desktop() {
    display: none;
}
.dy7-clearfix:before,
.dy7-clearfix:after {
  content: "";
  display: table;
  width: 100%;
}


/* Default HTML elements */
* {
    box-sizing: border-box;
}
html {
  font-size: 1em;
}
body {
  background: #fff;
  font-family: Roboto, sans-serif;
  margin: 0;
  color: @gray;
}
a {
  color: @electricBlue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @font-heading;
  font-weight: normal;
  color: @electricBlue;
}
h1 {
  font-size: 2em;
}
.dy7-skiplinks {
    .dy7-accessible-hide();
}

@import 'layout/_header.less';

/*main*/.dy7-main {
  display: block;
  padding-top: 160px;
}
/*div*/.dy7-main-container {
}
/*div*/.dy7-main-container.dy7-ext-blog {
  > h1 { margin: 0 .5em; }
  > article {
    > header {
      margin: 0 1em;
      > h2 {
        font-size: 1.4rem;
        margin: 1.5em 0 1em;
      }
    }
    > h2 {
      font-size: 1.4rem;
      margin: 1.5em (1em/1.4) 1em;
    }
    > p {
      font-size: (15/16rem);
      margin: 1em;
    }
    .dy7-blog-excerpt {
      margin: 0 1em;
    }
    > aside {
      border-top: 10px solid @footer-dark-green;
      padding-top: .6em;
      
      > .dy7-ext-title {
        color: @electricBlue;
        font-family: @font-heading;
        font-size: (24/16em);
      }
    }
  }
  > .dy7-ext-micropost {
    margin: 2em 0;

    > blockquote {
      font-size: 1.3em;
      margin: 0;
    }
  }
  > .dy7-ext-quotation {
    margin: 2em 1em;

    > blockquote {
      font-size: 1.3em;
      margin: 0;
    }
  }
  &.dy7-ext-index {
    > h1 { /* margin-left and margin-right declared as part of a base class that also selects this element */
        margin-top: .66em;
        margin-bottom: .25em;
    }
    article:nth-child(2) {
      > header {
        h2 {
          margin-top: 0;
                  
        }
      }
    }
  }
}

/*footer*/.dy7-footer {
  background: @footer-gray;
  border-top: 10px solid @footer-dark-green;
  color: #2d5269;
  margin: 0 auto;

  > .dy7-footer-content {
  }
  > .dy7-footer-bottom {
    background: #1f3746;
    color: #b2d0e2;
  }
}
/*dl*/.dy7-footer-nav {
    .dy7-desktop();

/*  margin: 20px 0 0 0;
  > dt {
    color: #162c63;
    font-family: @font-heading;
    font-size: (30/16em);
    font-style: italic;
    margin: 0 0 .5em 0;
  }
  > dd {
    margin: 0 0 5px 0;
      a {
        border-left: 15px solid;
        border-bottom: 1px solid;
        color: @footer-dark-green;
        display: block;
        padding: 3px 3px 3px 5px;
      }
      a:hover {
        text-decoration: none;
      }
  }*/
}

@import 'layout/_home';
@import 'layout/_footer';

@media screen and (min-resolution: 190dppx) {
  /*a*/.dy7-top-logo {
    background: url('/assets/images/header-image@2x.png') no-repeat 0 0;
    background-size: 315px 53px;
  }
}

