@electricBlue400: #0074b7;
@gray: #515151;

@footer-gray: #cfcfcf;
@footer-dark-green: #1f3746;
@footer-height: 260px;

@font-heading: "Abel";

@dy7-column-width: (550px/3);

@img-server: "//img.distantlyyours.com";

.dy7-accessible-hide() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
