@(user: User, pageForm: Form[Page], pagesList: Seq[Page], page: Page)
@import helper._
@import views.html.manage._
@import views.html.manage.pages._
@main("Edit " + page.title + " - " + SitePrefs.name, user) {
@list(pagesList)
} {
    @helper.form(action = routes.Pages.saveUpdate(page.id.get), 'id -> "gcmtMainWorkspace", 'class -> "gcmtMainWorkspace gcmtUiInit") {
      @pageEditor(pageForm)
      <div class="gcmtIoActions">
        <input type="submit" value="Save" />
        <a href="@routes.Pages.delete(page.id.get)" class="gcmtMainDelete" id="gcmtMainDelete">Delete</a>
      </div>
    }
} {
@* Scripts *@
}

