@(pageForm: Form[Page], user: User)
@import helper._
@import views.html.manage._
@import views.html.manage.pages._
@main("Manage Pages for " + SitePrefs.name, user) {
    @helper.form(action = routes.Pages.saveNew(), 'id -> "gcmtMainWorkspace", 'class -> "gcmtMainWorkspace") {
      @pageEditor(pageForm)
    }
} {
    <script type="text/javascript">
      // Initialize the page
      $('#gcmt-JsRequired').remove();
      $(function() {
        gcmt.loadPagesNav();
        gcmt.enablePageSubmit("new");
        $("#gcmtMainWorkspace").queue(function(){
          $(this).delay(500);
          $(this).addClass("gcmtUiInit");
          $(this).dequeue();
        });
      });
    </script>
}

