.dy7{
  &-hero {
    &:before {
      background: url('/assets/images/header-image-mobile@1x.jpg') no-repeat 50% 50%;
      background-size: 100% auto;
      content: '';
      display: block;
      height: 180px;
      width: 100%;

      @media screen and (max-width: 400px) {
        background-position: 50% 0;
        height: 130px;
      }
    }
    &-imagetext {
      .dy7-accessible-hide();
    }
    &-cta {
      @width: 10em;
      background: @footer-dark-green;
      color: #fff;
      display: block;
      font-size: (20em/16);
      margin: 1em auto 2em auto;
      opacity: .8;
      padding: .75em 0;
      left: 50%;
      top: 460px;
      text-align: center;
      width: @width;
    }
  }
  &-home{
    @dy7-section-margin: 0 2em;

    &-samples {
      margin: @dy7-section-margin;
      > h1 { margin-left: auto; margin-right: auto; }

      > .looper.xfade {
        height: 366px;

        div {
          text-align: center;
          width: 100%;
        }

        img {
          border: 1px solid #666;
          margin: 0 auto;
          @media screen and (max-width: 400px) {
            width: 100%;
          }
        }
      }

    }
    &-cta {
      @width: 10em;
      background: @footer-dark-green;
      clear: both;
      color: #fff;
      display: block;
      font-size: (20em/16);
      margin: 0 auto 3em;
      opacity: .8;
      padding: .75em 0;
      text-align: center;
      width: @width;
      z-index: 4;
    }
    &-cta:hover {
      opacity: 1;
      text-decoration: none;
    }
    &-technologies {
      margin: @dy7-section-margin;
      > .dy7-ext-images {
        margin-bottom: 2em;

        > img {
          margin: 1em 5%;
          width: 35%;
        }
      }
    }
    &-video {
      text-align: center;
      > iframe {
        margin: 0 0 3em 0;
        width: 100%;
      }
    }
  }
}