.dy7-{
  &portfolio-{
    &header {
      margin: 1.5em .5em .5em;
    }
    &intro {
      margin: 1em 1em 3em;
    }
    &article {
      padding: 0 1em;
    }
    &image {

      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
    &meta {
      > dt {
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
}
