.dy7 {
  &-portfolio {
    &-pageTitle {
      margin: 1.5em .5em .5em;
    }
    &-header {
      margin: 1em .5em;
    }
    &-title {
      font-size: (24rem/16);
      line-height: 1.4em;
      margin: 1em 0 .125em;
    }
    &-intro {
      margin: 1em 1em 3em;
    }
    &-csIntro {
      border-top: .66rem solid #2d5269;
      border-bottom: (1/16rem) solid @footer-gray;
      color: #1b7b97;
      line-height: 1.4em;
      margin: 1em 1em 1em;
    }
    &-article {
      border-top: 1px solid #ccc;
      margin: 1em 1em 3em;
      padding: 3em 0 0;
    }
    &-image {

      @media screen and (max-width: 800px) {
        width: 100%;
      }
      &Link {
        display: block;
        position: relative;
        text-align: right;
        &:hover, &:focus {
          &:after {
            color: #fff;
            content: 'Read case study';
            display: block;
            font-size: (26rem/16);
            padding: 0 1em 1em 0;
            position: absolute;
              top: auto;
              right: 0;
              bottom: 0;
              left: 0;
            z-index: 4;
          }
        }
        > img {
          position: relative;
          z-index: 3;
        }
      }
    }
    &-meta {
      &-container {
        &:before, &:after {
          clear: both;
          content: '';
          display: table;
        }
      }
      > dt {
        color: #006cc2;
        font-size: (12em/16);
        font-weight: 800;
        line-height: 1em;
        margin: 0 0 0 0;
        text-transform: uppercase;
      }
      > dd {
        margin: 0;
      }
    }
    &-about {
      margin: 1em 0 2em;
      > dt {
        color: #006cc2;
        font-size: (12em/16);
        font-weight: 800;
        padding: .5em 0;
        text-transform: uppercase;
      }
      > dd {
        margin: 0;
        padding: 0;
        > p:first-child {
          margin-top: 0;
        }
      }
    }
    &-detail {
      margin: 1rem;
    }
    &-content {
      > h2 {
        font-size: (24rem/16);
        margin: 1.5em 0 .5em;
      }
      > p {
        font-size: (15rem/16);
        line-height: (24em/15);
        margin: 1em 0 1em 0;
        > img {
          border: 1px solid #d9d9d9;
          width: 100%;
        }
      }
      > ul {
        font-size: (15rem/16); // Should match font size for p
        line-height: (24em/15);
        margin: 1em 0;
        padding: 0 0 0 1.5em;
        > li {
          margin: .5em 0;
        }
      }
      > blockquote:first-of-type {
        font-size: (20rem/16);
        line-height: 1.2em;
        margin: 1em 0;
      }
    }
    &-caseStudyLink {
      .dy7-accessible-hide();
    }
  }
}
