@(loginForm: Form[(String, String)], users: Int)(implicit flash: Flash)<!DOCTYPE html>
<html>
<head>

</head>
<body>
Users: @users
<h1>Welcome to @SitePrefs.name</h1>
  @import helper._
  @helper.form(routes.Application.authenticate) {
  <h1>Sign in</h1>

    @loginForm.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }
  
    @flash.get("success").map { message =>
      <p class="success">
        @message
      </p>
    }
    @inputText(
        field = loginForm("email"),
        args = 'label -> "Email", 'placeholder -> "Email"
    )
    @inputPassword(
        field = loginForm("password"),
        args = 'label -> "Password"
    )
<p>
                <button type="submit">Login</button>
            </p>
  }
</body>
</html>
