@(title: String, user: User)(sidebar:Html)(content: Html)(scripts: Html)<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/gcmt-manage.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>

@*	<div id="gcmt-JsRequired">Javascript is required. Please enable Javascript</div>*@

    <header class="gcmtHeader">
      <h1 class="gcmtHeaderTitle"><a href="@routes.Application.dashboard()">GrndCtrl2MajTom</a></h1>
      <nav class="gcmtHeaderNav">
        <dl class="gcmtHeaderNavList">
          <dt>Main navigation:</dt>
          <dd id="gcmtHeaderNav-blogPosts"><a href="@routes.Application.dashboard()"><span class="gcmtAccessibleHide">Manage </span>Blog posts</a></dd>
          <dd id="gcmtHeaderNav-pages"><a href="@routes.Pages.create()"><span class="gcmtAccessibleHide">Manage </span>Pages</a></dd>
        </dl>
      </nav>
      <div class="gcmtHeaderAccountNav">
        <div class="gcmtHeaderAccountNavOpener">@user.firstName @user.lastName</div>
      </div>
    </header>

    <div class="gcmtMainSidebar">
      <nav class="gcmtMainSidebarList" id="gcmtMainSidebarNav">
@sidebar
      </nav>
    </div>

    <section class="gcmtMainWorkspaceContainer">
@content
    </section>
    <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
@*    <script src="@routes.Assets.at("javascripts/gcmt.js")" type="text/javascript"></script>*@
@scripts
  </body>
</html>
