@(accountForm: Form[(String, String, String, (String, String))])

Welcome to @SitePrefs.name

  @import helper._
  @form(action = routes.Application.saveFirstUser()) {
    @inputText(
      field = accountForm("newFirstName"),
      '_label -> "First Name",
      '_error -> accountForm.globalError
    )

    @inputText(
      field = accountForm("newLastName"),
      '_label -> "Last Name",
      '_error -> accountForm.globalError
    )

    @inputText(
      field = accountForm("newEmail"),
      '_label -> "Email Address",
      '_error -> accountForm.globalError
    )

    @inputPassword(
      field = accountForm("newPassword.password1"),
      '_label -> "Password"
    )

    @inputPassword(
      field = accountForm("newPassword.password2"),
      '_label -> "Repeat Password",
      '_error -> accountForm.error("password")
    )
    
    <input type="submit" value="Save changes" />
  }
