/* Utility mixins ------------------ */
/* Some things shouldn't be shown on the mobile version of the site, and are set to display: none by default.
This overrides that for desktop users */

.dy7-desktop() {
    display: inherit;
}

/*footer*/.dy7-footer {
  height: @footer-height;
  > .dy7-footer-content {
    height: (@footer-height)-45px;
    margin-bottom: 0;
  }
  > .dy7-footer-bottom {
      font-size: (14/16rem);
      height: 35px;
      padding: .6em 0 0 0;
  }
}
.dy7-footer-content {
  margin: 0 auto;
  position: relative;
  width: 550px;
}


.dy7-footer-greeting {
  display: block;
  position: relative;
  &:before {
    display: block;
    height: 79px;
    position: absolute;
      top: 55px;
      left: 0;
    width: 79px;
  }
  &:after {
    content: '';
    background: url('@{img-server}/dy7-diagonal-lines-transparent.png');
    display: block;
    height: 10px;
    position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
  }
  > .dy7-ext-hi {
    font-size: (30/16em);
    position: absolute;
      top: (65em/30);
      left: (90em/30);
  }
  > .dy7-ext-occupation {
    position: absolute;
      top: 100px;
      left: 90px;
  }
  > .dy7-ext-process {
    font-size: (14/16em);
    position: absolute;
      top: 145px;
      right: 30px;
      left: 30px;
    text-align: justify;
  }
}
.dy7-footer-right.dy7-1col {
  position: absolute;
  left: (@dy7-column-width * 3.2);
  width: (@dy7-column-width * 1);
}
/*dl*/.dy7-footer-social {
  display: block;
  margin: 20px 0 0 0;
  text-align: left;

  > dt {
    color: #162c63;
    font-family: @font-heading;
    font-size: (26/16em);
    font-style: italic;
    margin: 0 0 .25em 0;
  }
  > dd {
  }
}
