.dy7 {
  &-portfolio {
    @dy7-column-width: (780px / 3);
    &-body {
      > .dy7-main {
        > .dy7-main-container{
          width: 780px;
        }
      }
      > .dy7-footer {
        .dy7-footer-content {
          width: 780px;
        }
      }
    }
    &-body:before {
      margin-right: 470px;
    }
    &-header {
      font-size: (30em/16);
      margin: 1.5em 0 1em 0;
      position: relative;
    }
    &-header:before {
      background: url('@{img-server}/dy7-diagonal-lines-transparent.png');
      content: "";
      display: block;
      position: absolute;
      left: (-45rem/16);
      top: -.25em;
      bottom: -.25em;
      width: 30px;
    }

    &-intro {
      font-size: (22rem/16);
      line-height: 1.6em;
      margin: 1em 0 3em 0;
    }

    &-article {
      border-top: none;
      display: block;
      margin: 0 0 7em 0;
      padding: 0;

      &:before {
        background-color: rgba(0,186,219,0.5);
        content: "";
        display: block;
        height: 64px;
        position: absolute;
        left: 0;
        margin: 30px 0 0 0;
        width: 100%;
        z-index: 2;
      }
    }
    &-image {
      border: 1px solid #d9d9d9;
      position: relative;
      z-index: 3;
    }
    &-title {
      font-size: (36em/16);
      margin: 1em 0;
      position: relative;

      &:before {
        background: #c0c0c0;
        content: '';
        display: block;
        margin: 0 15px 0 0;
        position: absolute;
          top: -.2em;
          right: 100%;
          bottom: -.2em;
        width: 30px;
      }
    }
    &-meta {
      display: block;
      float: left;
      margin: 0;
      padding: 0 1em 0 0;
      position: relative;
      width: 33%;

      &:before {
        border-top: 1px solid @gray;
        content: "";
        display: block;
        position: absolute;
          top: 0;
          right: 1em;
          left: 0;
        z-index: 2;
      }
      &-container {
          margin-right: (-45rem/16);
          margin-left: (-45rem/16);
      }

      > dt {
        border-top: 3px solid;
        display: inline-block;
        padding: .5em 0;
        position: relative;
        z-index: 3;
      }

      > dd {
        margin: 0;
        padding: 0;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    &-about {
      clear: both;
      content: "";
      display: table;
      width: 100%;
      margin: 2em 0 2em 0;

      > dt {
      }
      > dd {
        font-size: (20em/16);
        line-height: 1.6em;
      }
    }
    &-detail {
      margin-right: 0;
      margin-left: 0;
    }
    &-content {
      margin-top: 3rem;
    }
  }
}
