@(url: String, title: String, description: Option[String], keywords: Option[String], project: Project)
@main(url, title, description, keywords){
    <body class="dy7-portfolio-body">
        @header_standard()
        <main class="dy7-main" id="content">
            <div class="dy7-main-container">
                <h1 class="dy7-portfolio-header">@project.title</h1>
                <article class="dy7-portfolio-detail">

                    <div class="dy7-portfolio-content">
                        @project.indepth.map { case indepth =>
                            @Html(indepth)
                        }
                    </div>
                    <img src="//img.distantlyyours.com/@project.filename" alt="@project.title" class="dy7-portfolio-image" />
                </article>
            </div>
        </main>
        @footer_standard()
    </body>
}
