@(url: String, title: String, description: Option[String], keywords: Option[String], projects: Seq[Project])
@image(filename: String, title: String) = {
    <img src="//img.distantlyyours.com/@filename" alt="@title" class="dy7-portfolio-image" />
}
@dateline(dates: Option[String]) = {
    @dates.map { case dates =>
        <div class="dy7-dateline">@dates</div>
    }
}
@main(url, title, description, keywords){
    <body class="dy7-portfolio-body">
        @header_standard()
        <main class="dy7-main" id="content">
            <div class="dy7-main-container">
                <h1 class="dy7-portfolio-pageTitle">Portfolio</h1>
                <p class="dy7-portfolio-intro">I'm a designer who writes code. I love typography, grids, colors, photography, finicky UI quirks, advocating for users, validating design decisions with research, HTML/CSS&mdash;and I live for the moments when all of these things work together to solve a real problem. If you think I can help you solve your problem, drop me a line at <span data-update="mailLink" data-1="urs.com" data-2="ct2016@@distantlyyo" data-3="conta"></span>.</p>
                @projects.map { case(project)  =>
                    <article class="dy7-portfolio-article">
                        @if(project.slug) {
                            <a href="@routes.Projects.detail(project.slug.get)" class="dy7-portfolio-imageLink" data-title="@project.title">@image(project.filename, project.title)</a>
                        } else {
                            @image(project.filename, project.title)
                        }
                        <header class="dy7-portfolio-header">
                            @if(project.slug) {
                                <h2 class="dy7-portfolio-title"><a href="@routes.Projects.detail(project.slug.get)" title="Read case study for @project.title" class="dy7-portfolio-titleLink">@project.title</a></h2>
                                @dateline(project.dates)
                            } else {
                              <h2 class="dy7-portfolio-title">@project.title</h2>
                              @dateline(project.dates)
                            }
                        </header>
                        <div class="dy7-clearfix">
                            <dl class="dy7-portfolio-meta">
                                <dt>Role</dt>
                                <dd>@project.roles</dd>
                            </dl>
                            <dl class="dy7-portfolio-meta">
                                <dt>Tools used</dt>
                                <dd>@project.tools</dd>
                            </dl>
                            <dl class="dy7-portfolio-meta">
                                <dt>Technology stack</dt>
                                <dd>@project.techStack</dd>
                            </dl>
                        </div>
                        <dl class="dy7-portfolio-about">
                            <dt>
                                @if(project.inDepth.isEmpty) {
                                    About this project
                                } else {
                                    Project summary
                                }
                            </dt>
                            <dd>@Html(project.about)</dd>
                        </dl>
                        @project.slug.map { case slug =>
                            <a href="@routes.Projects.detail(slug)" class="dy7-cta" data-title="@project.title">Case study<span class="dy7-portfolio-caseStudyLink"> on @project.title</span></a>
                        }
                    </article>
                }
            </div>
        </main>
        @footer_standard()
        <script type="text/javascript">
          var imgLinks = document.querySelectorAll('.dy7-portfolio-imageLink'),
              titleLinks = document.querySelectorAll('.dy7-portfolio-titleLink'),
              ctaLinks = document.querySelectorAll('.dy7-cta');

          for (var i = 0, len = imgLinks.length; i < len; i++) {
            console.log(imgLinks[i]);
            imgLinks[i].addEventListener(
              'click',
              function(e) {
                var target = e.target;
                e.preventDefault();
                ga('send', 'event', 'Case Study Clicks', 'Image Link', target.getAttribute('data-title'), {transport: 'beacon'});
                window.location = target.getAttribute('href');
              }
            );
          };
          for (var i = 0, len = titleLinks.length; i < len; i++) {
            titleLinks[i].addEventListener(
              'click',
              function(e) {
                var target = e.target;
                e.preventDefault();
                ga('send', 'event', 'Case Study Clicks', 'Title Link', target.textContent, {transport: 'beacon'});
                window.location = target.getAttribute('href');
              }
            );
          };
          for (var i = 0, len = ctaLinks.length; i < len; i++) {
            ctaLinks[i].addEventListener(
              'click',
              function(e) {
                var target = e.target;
                e.preventDefault();
                ga('send', 'event', 'Case Study Clicks', 'CTA Link', target.getAttribute('data-title'), {transport: 'beacon'});
                window.location = target.getAttribute('href');
              }
            );
          };

        </script>
    </body>
}
