@(url: String, title: String, description: Option[String], keywords: Option[String], projects: Seq[Project])
@main(url, title, description, keywords){
    <body class="dy7-portfolio-body">
        @header_standard()
        <main class="dy7-main">
            <div class="dy7-main-container">
                <h2>Portfolio</h2>

                @projects.map { case(project)  =>
                    <img src="@routes.Assets.at("/images/" + project.filename)" alt="@project.title" class="dy7-portfolio-image" />
                    <h3>@project.title</h3>
                    <dl class="dy7-portfolio-meta">
                        <dt>Role</dt>
                        <dd>@project.roles</dd>
                    </dl>
                    <dl class="dy7-portfolio-meta">
                        <dt>Tools used</dt>
                        <dd>@project.tools</dd>
                    </dl>
                    <dl class="dy7-portfolio-meta">
                        <dt>Technology stack</dt>
                        <dd>@project.techStack</dd>
                    </dl>
                    <dl class="dy7-portfolio-about">
                        <dt>About this project</dt>
                        <dd>@project.about</dd>
                    </dl>
                }
            </div>
        </main>
        @footer_standard()
    </body>
}