@()
    <nav class="dy7-skiplinks">
        <a href="#content">Skip to content</a>
    </nav>
    <header class="dy7-header">
      <a href="@routes.Pages.index()" class="dy7-top-logo">@SitePrefs.name &mdash; @SitePrefs.tagline</a>
      <nav class="dy7-nav1">
        <dl class="dy7-header-nav">
          <dt>Navigation</dt>
          <dd class="dy7-ext-about"><a href="@routes.Pages.index()">About</a></dd>
          <dd class="dy7-ext-blog"><a href="@routes.BlogPosts.index(0)">Blog</a></dd>
          <dd class="dy7-ext-contact"><a href="@routes.Pages.display("contact")">Contact</a></dd>          
        </dl>
      </nav>
    </header>
