@(url: String, title: String, description: Option[String], keywords: Option[String])
@main(url, title, description, keywords){
  <body class="dy7-home-body">
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/looper.css")" />
  @header_standard()
    <main class="dy7-main" id="content">
      <div class="dy7-hero">
        <section class="dy7-design">
          <div class="dy7-design-container">
            <h1>A designer&hellip;</h1>
            <p>I haven&rsquo;t just designed websites and applications, I&rsquo;ve worked on newspapers and magazines, as well. Here are some samples of my work:</p>

            <div data-looper="go" data-interval="2500" class="looper xfade">
              <div class="looper-inner">
                <div class="item">
                  <img src="//img.distantlyyours.com/moderatePaleo-343.jpg" alt="Moderate Paleo" />
                </div>
                <div class="item">
                  <img src="//img.distantlyyours.com/venterraLiving-343.jpg" alt="Venterra Realty" />
                </div>
                <div class="item">
                  <img src="//img.distantlyyours.com/rpsDiningGuide-343.jpg" alt="Indiana University Residential Programs and Services Dining Guide" />
                </div>
                <div class="item">
                  <img src="//img.distantlyyours.com/stAndrewsApts-343.jpg" alt="St Andrews Apartments" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="dy7-code">
          <div class="dy7-code-container">
            <h1>&hellip;who writes code</h1>
            <p>I&rsquo;m always curious to try different ways to build different types of projects. Here are some frameworks and languages I've worked with:</p>
            <ul class="dy7-code-techList">
@* To see where the techLink snippet is defined, see the bottom of this file *@
              @techLink("wordpress-logo.svg", "wp", "WordPress")
              @techLink("nodejs-logo.svg", "node", "Node.js")
              @techLink("play-framework.svg", "play", "Play Framework")
              @techLink("jQuery-Logo.svg", "jq", "jQuery: Write Less, Do More")
              @techLink("php-logo.svg", "php", "PHP")
              @techLink("python-logo.svg", "python", "Python")
            </ul>
          </div>
        </section>
        <a href="@routes.Projects.index()" class="dy7-cta">View Portfolio</a>
      </div>
      <div class="dy7-home-video">
        <h2>What design teaches me about life</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/TjweB8pWTnU" frameborder="0" allowfullscreen></iframe>
      </div>
    </main>

  @footer_standard()

<script type="text/javascript" src="@routes.Assets.at("javascripts/looper.min.js")"></script>
<script type="text/javascript">
</script>


</body>
}

@techLink(src: String, cssClassSuffix: String, altText: String) = {
  <li class="dy7-code-@cssClassSuffix">
    <img src="//img.distantlyyours.com/@src" alt="@altText" />
  </li>
}
