@(url: String, title: String, description: Option[String], keywords: Option[String])
@main(url, title, description, keywords){

  <body class="dy7-home-body">
  <link rel="stylesheet" href="@routes.Assets.at("javascripts/looper.css")" />
  @header_standard()
    <main class="dy7-main" id="content">
      <div class="dy7-main-container">
        <div class="dy7-hero">
          <span class="dy7-hero-imagetext">A passion for web design since 2000</span>
          <a href="@routes.Projects.index()" class="dy7-cta">View Portfolio</a>
        </div>
        <div class="dy7-home-samples">
            <h1>A designer&hellip;</h1>
            <p>I haven&rsquo;t just designed websites and applications, I&rsquo;ve worked on newspapers and magazines, as well. Here are some samples of my work:</p>

            <div data-looper="go" data-interval="2500" class="looper xfade">
              <div class="looper-inner">
                <div class="item">
                  <img src="//img.distantlyyours.com/moderatePaleo-343.jpg" alt="Moderate Paleo" />
                </div>
                <div class="item">
                  <img src="//img.distantlyyours.com/venterraLiving-343.jpg" alt="Venterra Realty" />
                </div>
                <div class="item">
                  <img src="//img.distantlyyours.com/rpsDiningGuide-343.jpg" alt="Indiana University Residential Programs and Services Dining Guide" />
                </div>
                <div class="item">
                  <img src="//img.distantlyyours.com/stAndrewsApts-343.jpg" alt="St Andrews Apartments" />
                </div>
              </div>
            </div>
        </div>

        <div class="dy7-home-technologies">
            <h1>&hellip;who writes code</h1>
            <p>I&rsquo;m always curious to try different ways to build different types of projects. Here are some frameworks and languages I've worked with:</p>
	            <div class="dy7-ext-images">
	            <img src="//img.distantlyyours.com/wordpress-logo.svg" class="dy7-home-wp" alt="WordPress" />
	            <img src="//img.distantlyyours.com/jQuery-Logo.svg" class="dy7-home-jq" alt="jQuery: Write Less, Do More" />
	            <img src="//img.distantlyyours.com/play-framework.svg" class="dy7-home-play" alt="Play Framework" />
	            <img src="//img.distantlyyours.com/php-logo.svg" class="dy7-home-php" alt="PHP" />
	            <img src="//img.distantlyyours.com/python-logo.svg" class="dy7-home-python" alt="Python" />
	            <img src="//img.distantlyyours.com/nodejs-logo.svg" class="dy7-home-node" alt="Node.js" />
            </div>
        </div>
        <a href="@routes.Projects.index()" class="dy7-cta">View Portfolio</a>
      </div>
      <div class="dy7-home-video">
        <h2>What design teaches me about life</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/TjweB8pWTnU" frameborder="0" allowfullscreen></iframe>
      </div>
    </main>

  @footer_standard()

<script type="text/javascript" src="@routes.Assets.at("javascripts/looper.min.js")"></script>


</body>
}
