@(url: String, title: String, description: Option[String], keywords: Option[String])(content: Html)
<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>@title</title>
    <link href='http://fonts.googleapis.com/css?family=Abel|Arimo:400,400i,700,700i' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dy7.min.css")" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@description.getOrElse(SitePrefs.description)" />
    <meta name="keywords" content="@keywords.getOrElse(SitePrefs.keywords)" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="@title" />
    <meta property="og:url" content="http://@url" />
    <meta property="og:image" content="http://img.distantlyyours.com/distantlyyours-logo-fb.jpg" />
    <meta property="og:site_name" content="@SitePrefs.name" />
    <meta property="og:description" content="@description.getOrElse(SitePrefs.description)" />
  </head>
@content
</html>
