@(url: String, title: String, description: Option[String], keywords: Option[String])(content: Html)
<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>@title</title>
    <link href='http://fonts.googleapis.com/css?family=Abel|Roboto:400,400italic,700,700italic,300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dy7.min.css")" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
<!--[if LT IE 9 ]>
<script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@description.getOrElse(SitePrefs.description)" />
    <meta name="keywords" content="@keywords.getOrElse(SitePrefs.keywords)" />

    <meta property="og:title" content="@title" />
    <meta property="og:type" content="general:website" />
    <meta property="og:url" content="http://@url" />
    <meta property="og:image" content="@routes.Assets.at("images/distantlyyours-logo-fb.jpg")" />
    <meta property="og:site_name" content="@SitePrefs.name" />
    <meta property="og:description" content="@description.getOrElse(SitePrefs.description)" />
  </head>
@content
</html>
