@(title: String)(content: Html)<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1 class="topTitle">@SitePrefs.name</h1>
        <nav>
          <a href="@routes.Pages.display("/")">Home</a>
          <a href="@routes.BlogPosts.index(0)">Blog</a>
          <a href="@routes.Pages.display("contact")">Contact</a>
        </nav>
        @content
    </body>
</html>
