.dy7 {
  &-hero {
    height: 392px;
    margin: 0 0 30px 0;
    text-align: center;

    &:before {
      background: url('@{img-server}/dy7-home-image@1x.jpg') no-repeat 50% 0;
      content: '';
      height: 392px;
      position: absolute;
      top: 166px;
      left: 0;
      right: 0;
    }
    &-image {
      display: none;
    }

    &-cta {
      @width: 10em;
      margin: 0 0 0 -(@width / 2);
      position: absolute;
      z-index: 4;
    }
    &-cta:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  &-home {
    &-samples, &-technologies {
      > h1, p {
        margin-right: auto;
        margin-left: auto;
      }
      > h1 {
        width: (16em/32*29);
      }
      > p {
        text-align: justify;
        width: 29em;
      }
    }
  }
}