.dy7 {
  &-hero {
    position: relative;
    padding-bottom: 1rem;
    &:before {
      background: url('@{img-server}/homepage/design-photo.jpg') no-repeat 70% 50%  #224c51; // Color sampled from photo
      background-size: cover;
      content: '';
      display: block;
      position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
    .dy7-design, .dy7-code {
      box-sizing: border-box;
      position: relative;
        z-index: 1;
      width: 50%;
    }
    @this-padding: 1em 2em 1em;
    .dy7-design {
      background: none;
      &-container {
        padding: @this-padding;
        > .looper.xfade {
          img {
          }
        }
      }
    }
    .dy7-code {
      position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      &-container {
        padding: @this-padding;
      }
      + .dy7-cta {
        margin-top: 1em;
      }
    }
  }
  &-home {
  }
}
