.dy7-portfolio {
  &-intro {
    font-size: (18rem/16);
    line-height: 1.4em;
  }
  &-csIntro {
    font-size: (18rem/16);
  }
  &-content {
    margin-top: 1rem;
    > h2 {
      font-size: (30rem/16);
    }
    > p {
        font-size: (18rem/16);
        img {
          width: 100%;
          &:not(:only-child) {
            width: 49%;
          }
        }
    }
    > ul {
      font-size: (16rem/16);
      li {
        margin: .66em 0;
        max-width: 41em;
      }
    }
  }
}
